<div class="d-flex flex-column my-3 h-100">

  <div class="d-flex align-items-center gap-3 mb-2">
    <h1 style="margin: 0">Files</h1>
    <a href="https://drive.google.com/drive/folders/14rHxJ-AbQDww1CYqOsVa_xMe6SSJKC53?usp=sharing" class="btn btn-primary btn-new" role="button">Google Drive</a>
  </div>

  <iframe src="https://googledriveembedder.collegefam.com/?key=AIzaSyD_rHy-7Cx8TH7qo-R2_Io9Faa3O5RKg2A&folderid=1DqOpHPRlIey3-8a-VXUrgRLgIZ8fLEiF" style="border:none;" height="100%"></iframe>
</div>