/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
  @import "bootstrap";
  @import "rails_bootstrap_forms";

  // Change primary button color to red
  $redcrossred: #ED1B2E;

  .btn-primary {
    background-color: #ED1B2E !important;
    border: #ED1B2E !important;
    color: #fff !important;
  }

  .btn-primary:hover {
    background-color: darken($redcrossred, 15%) !important;
    border: darken($redcrossred, 15%) !important;
  }

  .btn-primary:active, .btn-primary:focus {
    border: darken($redcrossred, 20%);
    box-shadow: none !important;
  }

  .btn-new {
    padding: .25rem .5rem;
    height: 2rem;
    font-size: .975rem;
  }

  // Table name view
  .table-ruby {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    white-space: nowrap;
  }

  td {
    vertical-align: middle;
  }

  .actions {
    width: 5.25rem;
    text-align: center;
  }

  .table-hover tbody tr:hover td {
    background: #fbd1d5;
  }

  .name_links:hover {
    color: #0000FF !important;
  }

  .name_links {
    text-decoration: none;
  }

  // Form styles
  .form {
    padding: 3rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 40rem;
    margin: 0 auto;
  }

  .form-title {
    text-align: center;
    padding-bottom: 0.5rem;
  }

  .btn-form {
    width: fill;
    margin-top: 2rem;
    padding: .5rem;
  }

  #hideMeAfter5Seconds {
    animation: hideAnimation 0s ease-in 3s;
    animation-fill-mode: forwards;
  }

  @keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0 !important;
      height: 0 !important;
    }
  }